.header {
  font-family: var(--font-family-header);
  font-size: calc(var(--header-font-size) * 1.2); 
  background-color: var(--color-base-bg);
  color: var(--color-header-text);
  height: fit-content;
  border-bottom: 1px solid var(--color-base-text);

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
    position: relative;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }
  }

  .logos {
    display: flex;
    align-items: center;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      position: static;
      transform: translate(0, 0);
    }
  }
  
  a {
    font-size: 1.1rem;
    color: var(--color-header-text);
  }
}

.header-transparent {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;

  a {
    color: white;
  }

  .logos {
    .logo-desktop {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-desktop-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: flex;
      }
    }
    .logo-mobile-invert {
      display: flex;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  .hamburger {
    color: white;
  }
}

.header-scrolled {
  transition: all 200ms linear;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  color: var(--color-header-text);

  a {
    color: var(--color-header-text);
  }
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
