{% assign title = include.title %}
{% assign sub_title = include.sub_title %}
{% assign description = include.description %}
{% assign images = include.images %}
{% assign date = include.date %}
{% assign badge = include.badge %}
{% assign social = include.show_social %}
{% assign columns = include.columns %}
{% assign authors = include.authors %}

<div class="title">
  {% if authors %}
  <div class="container-authors">
    <div class="authors">
      {% for author_key in authors limit:5 %}
      {% assign author = author_key[1] %}
      {% if author.profile %}
      <div class="author-image">
        <img src="{{ author.profile | relative_url }}" alt="{{ author.name }}" />
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <p class="">Meet our talented team</p>
  </div>
  {% endif %}

  {% if title %}
  <div class="title-heading">
    <h1>{{ title }}</h1>

    {% if sub_title %}
    <h2>
      {{ sub_title }}
    </h2>
    {% endif %}
  </div>
  {% endif %}

  {% if description %}
  <div class="title-description">
    <p>{{ description }}</p>
  </div>
  {% endif %}

  {% if social %}
  <div class="title-social">
    {% include framework/social.html %}
  </div>
  {% endif %}

</div>