{% assign title = include.title %}
{% assign sub_title = include.sub_title %}
{% assign description = include.description %}
{% assign images = include.images %}
{% assign date = include.date %}
{% assign badge = include.badge %}
{% assign social = include.show_social %}
{% assign columns = include.columns %}

<div class="title">
  <div class="col-12 {% if columns %}col-md{{ columns }}{% endif %}">
    <div class="row align-items-center">
      <div class="col-12 {% if images and images != '' %}col-md-6{% else %}col-md-10{% endif %}">
        {% if date %}
        <div class="title-date">
          {% assign day = date | date: "%-d" %}
          {% case day %}
          {% when '1' or '21' or '31' %}
          {{ day }}st
          {% when '2' or '22' %}
          {{ day }}nd
          {% when '3' or '23' %}
          {{ day }}rd
          {% else %}
          {{ day }}th
          {% endcase %}
          {{ date | date: "of %B, %Y" }}
        </div>
        {% endif %}

        {% if badge %}
        <div class="title-badge">
          <span>{{ badge }}</span>
        </div>
        {% endif %}

        {% if title %}
        <div class="title-heading">
          <h1>{{ title }}</h1>
          
          {% if sub_title %}
          <h2>
            {{ sub_title.part_1 }}

            <strong>
              {{ sub_title.part_2 }}

              <div class="blue-highlight">
                <img alt="Blue highlight" src="{{ images.blue_highlight | relative_url }}" width="100%" height="100%" />
              </div>
        
              <div class="pink-highlight">
                <img alt="Pink highlight" src="{{ images.pink_highlight | relative_url }}" width="100%" height="100%" />
              </div>
            </strong>

            {{ sub_title.part_3 }}
          </h2>
          {% endif %}
        </div>
        {% endif %}

        {% if description %}
        <div class="title-description">
          <p>{{ description.paragraph_1 }}</p>
          <p>{{ description.paragraph_2 }}</p>
          <p>{{ description.paragraph_3 }}</p>
          <p>{{ description.paragraph_4 }}</p>
        </div>
        {% endif %}

        {% if social %}
        <div class="title-social">
          {% include framework/social.html %}
        </div>
        {% endif %}
      </div>

      {% if images %}
      <div class="col-12 col-md-6 image-container">
        <div class="head-exploding title-image">
          <img alt="Head exploding" src="{{ images.head_exploding | relative_url }}" />
        </div>

        <div class="yellow-trapeze title-image">
          <img alt="Yellow trapeze" src="{{ images.yellow_trapeze | relative_url }}" />
        </div>

        <div class="brown-trapeze title-image">
          <img alt="Brown trapeze" src="{{ images.brown_trapeze | relative_url }}" />
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>