/* GT Alpina Regular */
@font-face {
  font-display: swap; /* Carregamento eficiente das fontes */
  font-family: 'GT Alpina';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GT-alpina-regular/GT-Alpina-Regular.ttf') format('truetype'); /* Suporte para TTF */
}

/* RM Mono Regular */
@font-face {
  font-display: swap;
  font-family: 'RM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rmmono-regular/rmmono-regular.otf') format('opentype'); /* Suporte para OTF */
}
