---
---

:root {
  --font-family-base: 'GT Alpina', sans-serif;
  --font-family-heading: 'GT Alpina', serif;
  --font-family-monospace: 'RM Mono', monospace;
  --font-family-logo: 'GT Alpina', sans-serif;
  --font-family-title: 'Pangea';

  --color-primary-bg: {{ site.colors.primary_bg | default: "#2b3af7" }};
  --color-primary-bg-2: {{ site.colors.primary_bg_2 | default: "#424ff8" }};
  --color-primary-bg-3: {{ site.colors.primary_bg_3 | default: "#702bf7" }};
  --color-primary-text: {{ site.colors.primary_text | default: "#ffffff" }};
  --color-base-bg: {{ site.colors.base_bg | default: "#ffffff" }};
  --color-base-bg-2: {{ site.colors.base_bg_2 | default: "#f8fafc" }};
  --color-base-bg-3: {{ site.colors.base_bg_3 | default: "#f1f5f9" }};
  --color-base-text: {{ site.colors.base_text | default: "#202020" }};
  --color-base-text-2: {{ site.colors.base_text_2 | default: "#4b5563" }};
  --color-base-text-3: {{ site.colors.base_text_3 | default: "#f9fafb" }};
  --color-header-text:  {{ site.colors.header_text | default: "#111827" }};

  --color-footer-text-base: {{ site.colors.footer_text_base | default: "#F5F0E1" }};
  --color-footer-subscribe-button-text: {{ site.colors.footer_subscribe_button_text | default: "#234123" }};
  
  --logo-text-font-size: {{ site.logo.logo_text_font_size | default: "28px" }};
  --logo-text-font-weight: {{ site.logo.logo_text_font_weight | default: "500" }};
  
  --menu-font-family: 'GT Alpina', sans-serif;
  --menu-font-size: {{ site.header.header_menu_font_size }};
  --menu-text-transform: "Capitalize";
  --menu-font-weight: 400;

  --header-height: {{ site.header.header_height | default: "60px" }};
  --section-padding: 80px;
  --card-border-radius: 5px;
  --button-border-radius: 5px;
}

html[data-bs-theme='dark'] {
  --color-primary-bg: {{ site.colors.primary_bg_dark | default: site.colors.primary_bg }};
  --color-primary-bg-2: {{ site.colors.primary_bg_2_dark | default: site.colors.primary_bg_2 }};
  --color-primary-bg-3: {{ site.colors.primary_bg_3_dark | default: site.colors.primary_bg_3 }};
  --color-primary-text: {{ site.colors.primary_text_dark | default: site.colors.primary_text }};
  --color-base-bg: {{ site.colors.base_bg_dark | default: "#121418" }};
  --color-base-bg-2: {{ site.colors.base_bg_2_dark | default: "#1d2026" }};
  --color-base-bg-3: {{ site.colors.base_bg_3_dark | default: "#24272d" }};
  --color-base-text: {{ site.colors.base_text_dark | default: "#F4F4F5" }};
  --color-base-text-2: {{ site.colors.base_text_2_dark | default: "#D1D5DB" }};
  --color-base-text-3: {{ site.colors.base_text_3_dark | default: "#f9fafb" }}; 
  --color-logo-text: {{ site.colors.logo_text_dark | default: "#F4F4F5" }};
  --color-header-text: {{ site.colors.header_text_dark | default: "#F4F4F5" }};

  --color-footer-text-base: {{ site.colors.footer_text_base_dark | default: "#f9fafb" }};
  --color-footer-subscribe-button-text: {{ site.colors.footer_subscribe_button_text_dark | default: "#1d2026" }};
};

@import 'style';